<h1 style="padding-left: 150px">MATCHES VIEW</h1>

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
<link href="../stylesheet/matches.css" rel="stylesheet" type="text/css">

<div class="container">
	<div class="row login_box">
	    <div class="col-md-6 col-xs-6" align="left">
            <div class="outter"><img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle"/></div>   
            <h1 class="username">Hi Guest</h1>
	    </div>
        
        <div class="col-md-6 col-xs-6 login_control">
                
            <div class="control">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="label">Heart Rate</div>
                <div class="glyphicon glyphicon-ok pull-right"></div>
            </div>
            
            <div class="control">
                <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
                <div class="label">Blood-Alcohol Level</div>
                <div class="glyphicon glyphicon-ok pull-right"></div>
            </div>

            <div class="control">
                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                <div class="label">Vibe</div>
                <div class="glyphicon glyphicon-ok pull-right"></div>
            </div>
                
        </div>
        
        
            
    </div>
</div>