.header {
	text-align: center;
}

.login_box{   
    width:55%;
   	height:45%;
    position:absolute;
    top:15%;
    left:32.5%;
}

.image-circle {
	height: 125px;
	width: 125px;
}

.username {
	float: right;
	position: relative;
	bottom: 107px;
}

.outter {
	height: 150px;
	width: 150px;
}

.login_control{
    padding:35px;   
}