<!DOCTYPE html>
<html ng-app="hotAndBothered">
<head>
	<meta charset="UTF-8">
	<title>Hot N' Bothered</title>

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascript/app.js"></script>

</head>
<body>

	<nav id="bt-menu" class="bt-menu">
		<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
		<ul>
	        <li><a href="/">Home</a></li>
	        <li><a href="#/login">Login</a></li>
	        <li><a href="#/matches">Matches</a></li>
	        <li><a href="#/profile">Profile</a></li>
	        <li><a href="#/favorites">Favorites</a></li>
	        <li><a href="#/about">About</a></li>
    	</ul>
	</nav>

	<div class="main-view-container" ui-view></div>
	
<script src="/javascript/menu.js"></script>
</body>
</html>